.header {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0 25px;
  margin: 20px auto;
  background-color: #f0f0f0;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__name {
  margin: 0;
  padding: 10px 10px;
}
.header__toggle {
  border: none;
  outline: none;
  font-size: 24px;
}
.header__toggle:hover, .header__toggle:focus {
  cursor: pointer;
  outline: none;
}

.navbar {
  display: none;
  font-size: 16px;
  padding: 0;
}
.navbar__link {
  display: inline-block;
  padding: 14px 14px;
  margin: 0 10px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}
.navbar__link:hover, .navbar__link--active {
  border-bottom: 3px solid #63caf3;
}

.dropdown-menu {
  display: block;
  width: 100%;
  max-height: 0;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #f0f0f0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.dropdown-menu--show {
  max-height: 250px;
}
.dropdown-menu > .navbar__link {
  display: block;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
}
.dropdown-menu > .navbar__link:hover, .dropdown-menu > .navbar__link--active {
  border-bottom: 3px solid transparent;
  border-left: 3px solid #63caf3;
}

.page {
  display: none;
}
.page--show {
  display: block;
}
.page__header {
  width: 100%;
  padding: 20px 50px;
  color: #fff;
  text-align: center;
  background-color: #63caf3;
}
.page__header > h2 {
  font-weight: 600;
  margin: 0;
}
.page__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
  padding: 20px 30px;
  overflow: hidden;
}

.bio {
  padding-top: 40px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
}
.bio__photo {
  margin: 0 auto 40px;
  border-radius: 50%;
}
.bio__photo > img {
  width: 150px;
}
.bio__name {
  font-size: 26px;
}
.bio__location, .bio__company, .bio__email {
  line-height: 1.6;
}
.bio__email-link:hover {
  text-decoration: underline;
}
.bio__sns {
  padding: 20px;
  color: #000;
  font-size: 28px;
}

.post {
  min-height: 150px;
  padding: 15px 0;
  border-bottom: 1px solid #f0f0f0;
}
.post__date {
  margin-bottom: 0.5rem;
  color: #888888;
}
.post__content {
  overflow: hidden;
}
.post__snapshot {
  align-self: center;
  text-align: center;
}
.post__snapshot > img {
  width: 110px;
  max-height: 130px;
}

.services__title {
  padding-top: 20px;
}
.services__block {
  margin: 50px 0;
  text-align: center;
}
.services__icon {
  padding-bottom: 30px;
}
.services__icon > i {
  font-size: 60px;
}

.client__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.client__item {
  padding: 30px 30px;
}
.client__item > i {
  font-size: 50px;
}

.timeline {
  margin-bottom: 40px;
}
.timeline__header {
  margin: 20px 0;
}
.timeline__list {
  border-left: 2px solid #f0f0f0;
}
.timeline__title {
  margin: 20px 0;
}
.timeline__item {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px 20px;
  border: 1px solid #f0f0f0;
  border-left: 3px solid #63caf3;
  transition: all 0.3s;
}
.timeline__item:hover {
  box-shadow: 0 0 3px 3px #f0f0f0;
}
.timeline__item::before {
  content: "";
  position: absolute;
  top: 30px;
  left: -30px;
  width: 12px;
  height: 12px;
  border: 2px solid #63caf3;
  border-radius: 50%;
  background-color: #fff;
}
.timeline__item::after {
  content: "";
  position: absolute;
  top: 35px;
  left: -20px;
  width: 20px;
  height: 2px;
  background-color: #63caf3;
}
.timeline__item > div {
  margin-bottom: 5px;
}

.skills {
  text-align: center;
}
.skills__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.skills__item {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 80px;
}
.skills__item > i {
  font-size: 50px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Helvetica, sans-serif;
  overflow-y: scroll;
}

.highlight {
  color: #008be7;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  min-height: 800px;
  padding: 0;
  margin: 0 auto 68px auto;
  background-color: #f0f0f0;
}

.main {
  flex: 0 0 100%;
  padding: 0;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.about-me {
  min-height: 200px;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  padding: 25px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .header__toggle {
    display: none;
  }

  .navbar {
    display: block;
  }

  .dropdown-menu {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
