.cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
}

.cv__header {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #63caf3;
}

.cv__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 20px 40px;
}

.cv__col {
  width: 50%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}

.surname {
  color: #008be7;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  padding: 0 10%;
  background-color: #f0f0f0;
}

.navbar__name {
  display: inline-block;
  margin: 0;
  padding: 10px 10px;
  font-size: 24px;
}

.navbar__nav {
  font-size: 16px;
}

.navbar__link {
  display: inline-block;
  padding: 14px 14px;
  margin: 0 10px;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar__link:hover, .navbar__link--active {
  border-bottom: 3px solid #63caf3;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  padding: 0 20px;
  border-radius: 10px;
  background-color: #fff;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 150px;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
}

.post__date {
  color: #888888;
}

.post__wrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.post__snapshot {
  width: 100%;
}

.about {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  margin-left: 15px;
  border-radius: 10px;
  background-color: #fff;
}

.about__photo {
  display: block;
  width: 150px;
  height: 150px;
  margin: 50px auto;
  border-radius: 50%;
}

.about__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  text-align: center;
}

.about__name {
  font-size: 26px;
}

.about__job {
  font-size: 20px;
}

.about__location, .about__company, .about__email {
  line-height: 1.6;
}

.about__email-link:hover {
  text-decoration: underline;
}

.about__sns {
  padding: 20px;
  color: #000;
  font-size: 28px;
}

footer {
  padding: 30px;
  text-align: center;
}
