.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 0 10%;
  background-color: $background-color;

  &__name {
    display: inline-block;
    margin: 0;
    padding: 10px 10px;
    font-size: 24px;
  }

  &__nav {
    font-size: 16px;
  }

  &__link {
    display: inline-block;
    padding: 14px 14px;
    margin: 0 10px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;

    &:hover,
    &--active {
      border-bottom: 3px solid $primary-color;
    }
  }
}