.header {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0 25px;
  margin: 20px auto;
  background-color: $background-color;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    margin: 0;
    padding: 10px 10px;
  }

  &__toggle {
    border: none;
    outline: none;
    font-size: 24px;

    &:hover,
    &:focus {
      cursor: pointer;
      outline: none;
    }
  }
}

.navbar {
  display: none;
  font-size: 16px;
  padding: 0;

  &__link {
    display: inline-block;
    padding: 14px 14px;
    margin: 0 10px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;

    &:hover,
    &--active {
      border-bottom: 3px solid $primary-color;
    }
  }
}

.dropdown-menu {
  display: block;
  width: 100%;
  max-height: 0;
  padding: 0;
  margin: 0;
  border: none;
  background-color: $background-color;
  overflow: hidden;
  transition: all 0.3s ease-out;

  &--show {
    max-height: 250px;
  }

  > .navbar__link {
    display: block;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;

    &:hover,
    &--active {
      border-bottom: 3px solid transparent;
      border-left: 3px solid $primary-color;
    }
  }
}
