.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px auto;
  background-color: $background-color;

  &__name {
    display: inline-block;
    margin: 0;
    padding: 10px 10px;
    font-size: 24px;
  }

  &__toggle {
    margin-right: 20px;
    font-size: 24px;
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: $background-color;
    transition: all 0.5s;

    .navbar__link {
      display: block;
      border-bottom: 3px solid transparent;
      border-left: 3px solid transparent;

      &:hover,
      &--active {
        border-bottom: 3px solid transparent;
        border-left: 3px solid $primary-color;
      }
    }
  }

  &__nav {
    display: none;
    font-size: 16px;
  }

  &__link {
    display: inline-block;
    padding: 14px 14px;
    margin: 0 10px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;

    &:hover,
    &--active {
      border-bottom: 3px solid $primary-color;
    }
  }
}
