.bio {
  padding-top: 40px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;

  &__photo {
    margin: 0 auto 40px;
    border-radius: 50%;

    > img {
      width: 150px;
    }
  }

  &__name {
    font-size: 26px;
  }

  &__location,
  &__company,
  &__email {
    line-height: 1.6;
  }

  &__email-link:hover {
    text-decoration: underline;
  }

  &__sns {
    padding: 20px;
    color: #000;
    font-size: 28px;

    > a {
      padding: 0 3px;
    }
  }
}
