.post {
  min-height: 150px;
  padding: 15px 0;
  border-bottom: 1px solid $background-color;

  &__date {
    margin-bottom: 0.5rem;
    color: $light-font-color;
  }

  &__content {
    overflow: hidden;
  }

  &__snapshot {
    align-self: center;
    text-align: center;

    > img {
      width: 110px;
      max-height: 130px;
    }
  }
}
